body {
    background-image: url('../images/backgrounds/bgline-modified.png');
    background-color: var(--clr-bg);
    background-size: cover;
}

#login {
    width: 20rem;
}

#login-form {
    gap: 0.40rem;
    width: 100%;
}

#login-button{
    background-color: var(--clr-primary);
    font-weight: bold;
    padding: 0 2rem;
    transition: filter 0.2s;
}

#create-account-button{
    background-color: var(--clr-primary);
    font-weight: bold;
    padding: 0 2rem;
    transition: filter 0.2s;
}