body{
    background-image: url('../images/backgrounds/bgline-sign-up-modified.png');
    background-color: var(--clr-bg);
    background-size: cover;
}

#sign-up{
    gap: 0.40rem;
    padding: 2rem;
    width: 30rem;
}

#sign-up-button{
    margin-top: 1rem;
    color: var(--clr-secondary-text);
    font-weight: bold;
    background-color: var(--clr-primary);
}