:root {
    --clr-bg: #18191a;
    --clr-bg-lighter: #242526;
    --clr-bg-lightest: #3a3b3c;
    --clr-error: #e12222;
    --clr-neutral: #e4e6eb;
    --clr-neutral-darker: #b3b5b9;
    --clr-primary: #ff008f;
    --clr-primary-lighter: #ff55a1;
    --clr-secondary: #9a16ae;
    --clr-placeholder: #afb2b7;
    --clr-popup-bg: #00000077;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--clr-neutral);
}

input[type=text],
input[type=password],
input[type=date],
button {
    color: var(--clr-neutral);
    height: 2rem;
    border-radius: 5px;
    border: 0;
    padding: 0.25rem 0.5rem;
    background-color: var(--clr-bg-lightest);
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=date]::placeholder {
    color: var(--clr-placeholder);
}

input[type=date]:not(.has-value):focus {
    color: var(--clr-placeholder) !important;
}

input[type=date]:not(.has-value) {
    position: relative;
    color: var(--clr-bg-lightest);
}

input[type=date]:not(.has-value):before {
    bottom: calc(50% - 0.5rem);
    font-family: sans-serif;
    position: absolute;
    color: var(--clr-placeholder);
    content: attr(placeholder);
}

input[type=date]:not(.has-value):focus:before {
    content: '';
}

button {
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(1.15);
}

hr {
    width: 100%;
    border-width: 1px 0 0 0;
    opacity: 25%;
    margin: 1.2rem 0;
}

h1,
h2,
h3,
h4 {
    color: var(--clr-primary);
    margin: 0;
}

.hidden {
    opacity: 0;
}

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.wrapper {
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card {
    border-radius: 10px;
    background-color: var(--clr-bg-lighter);
}

h1.title {
    --title-size: 4rem;
}

h2.title {
    --title-size: 3rem;
}

h3.title {
    --title-size: 2rem;
}

.title {
    color: var(--clr-primary);
    font-size: var(--title-size);
    position: relative;
    user-select: none;
    transition: transform 0.2s;
    margin: 0;
}

.title::before,
.title::after {
    --frame-width: calc(var(--title-size) * 0.15);
    --frame-size: calc(var(--title-size) * 0.3);
    content: '';
    width: var(--frame-size);
    height: var(--frame-size);
    position: absolute;
    border: solid var(--clr-primary);
    transition: transform 1s;
}

.title::before {
    top: 0;
    left: calc(-1 * (var(--frame-size) + var(--frame-width)));
    border-width: var(--frame-width) 0 0 var(--frame-width);
}

.title::after {
    bottom: 0;
    border-width: 0 var(--frame-width) var(--frame-width) 0;
}

.title:hover {
    transform: scale(1.1);
}

.title:hover::before {
    transform: translate(-50%, -50%);
}

.title:hover::after {
    transform: translate(50%, 50%);
}

.main-frame {
    width: 100%;
}

.error-msg {
    color: var(--clr-error);
    font-size: 0.75rem;
}

.input-guide {
    margin-left: 0.3rem;
    font-size: 0.75rem;
    color: var(--clr-primary-text-light);
}

.menu-panel {
    background-color: var(--clr-bg);
    width: 20rem;
    padding: 1rem 3rem 3rem 1rem;
}

.account-display {
    position: relative;
    padding: 1rem;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
}

.account-display:hover {
    background-color: var(--clr-bg-lightest);
}

.profile-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75rem;
}

.menu-option {
    position: relative;
    padding: 0.75rem;
    border-radius: 10px;
    color: var(--clr-secondary-text);
    align-items: center;
    transition: 0.2s;
}

.menu-option:hover {
    background-color: var(--clr-bg-lightest);
}

.button-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-with-label {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.content-panel {
    width: 55%;
    min-width: 30rem;
    padding: 1rem 2rem;
    background-color: var(--clr-bg);
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-panel {
    flex-grow: 1;
    background-color: var(--clr-bg-lighter);
    padding: 3rem;
    /* border-left: 5px solid var(--clr-primary); */
}

#user-name-display {
    font-weight: bold;
    color: var(--clr-primary);
}

#user-username-display {
    font-size: 0.8rem;
    color: var(--clr-placeholder);
}

#search-input-frame {
    width: 100%;
    position: relative;
}

#search-input {
    width: 100%;
    padding-left: 2.5rem;
}

#search-icon {
    position: absolute;
    top: calc(50% - 0.75rem);
    left: 0.5rem;
}

#result-frame {
    background-color: var(--clr-bg);
    border-radius: 10px;
    overflow: hidden;
}

.result-box {
    position: relative;
    font-size: 0.8rem;
    padding: 1rem;
    align-items: center;
    transition: 0.3s;
}

.result-box:hover {
    background-color: var(--clr-bg-lightest);
}

.result-empty {
    justify-content: center;
    align-items: center;
}

.search-result-profile {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.35rem;
}

.search-result-name {
    font-size: 0.9rem;
}

.search-result-username {
    color: var(--clr-placeholder);
    font-size: 0.65rem;
}

#post-area {
    gap: 1rem;
}

.post-box {
    background-color: var(--clr-bg-lighter);
    flex-grow: 0;
    width: 100%;
    min-width: 0;
    border-radius: 20px 20px 0 0;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
}

.post-pfp {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 0 0 1.5rem;
}

.post-pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-contents {
    flex-grow: 1;
    padding-top: 1.5rem;
    gap: 0.3rem;
    overflow-x: hidden;
}

.post-author {
    position: relative;
    align-items: end;
    gap: 0.3rem;
}

.post-prof-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--clr-primary) !important;
    text-decoration: none !important;
}

.post-prof-username {
    color: var(--clr-placeholder) !important;
    font-size: 0.8rem;
    text-decoration: none !important;
    padding-bottom: 0.175rem;
}

.post-time {
    font-size: 0.65rem;
    color: var(--clr-placeholder);
}

.post-caption {
    font-size: 0.85rem;
}

.post-window {
    /* border-radius: 10px; */
    background-color: var(--clr-bg-lighter);
    /* margin-top: 0.2rem; */
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
}

.post-window img,
.post-window video {
    margin: auto;
    height: 20rem;
}

.comment-box {
    width: 100%;
    background-color: var(--clr-bg-lighter);
    justify-content: end;
    align-items: center;
    padding: 1rem 0.7rem 0.7rem 0.7rem;
    border-radius: 0 0 20px 20px;
}

.comment-input {
    background-color: var(--clr-bg) !important;
    flex-grow: 1;
    border-radius: 10px 0 0 10px !important;
}

.comment-input:focus {
    outline: none;
}

.comment-box>button {
    background-color: var(--clr-bg-lighter);
    border: solid var(--clr-bg-lightest);
    border-width: 1px 1px 1px 0;
    border-radius: 0 50% 50% 0;
}

.comment-box>button>img {
    height: 100%;
}

.comment-picture {
    position: relative;
}

.comment-pfp {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

.post-comments {
    gap: 0.5rem;
    transition: height 1s;
}

.post-interactions-box {
    width: 100%;
    background-color: var(--clr-bg-lighter);
    padding: 0 1rem;
    padding-top: 0.5rem;
}

.show-comments,
.hide-comments {
    border-radius: 10px;
    padding: 0.3rem;
    background-color: var(--clr-bg-lighter);
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.comment-bubble {
    background-color: var(--clr-bg-lightest);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}

.comment-author a {
    text-decoration: none !important;
    color: var(--clr-neutral) !important;
    font-size: 0.85rem;
    font-weight: bold;
}

.comment-author {
    margin-bottom: 0.1rem;
}

.comment-text {
    font-size: 0.7rem;
}

.comment-time {
    padding-left: 0.5rem;
    font-size: 0.65rem;
    color: var(--clr-neutral-darker);
}

.hidden {
    display: none;
}

.no-comments {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-lightest);
    border-radius: 20px;
    padding: 1rem 2rem;
}

.no-comments img {
    margin-left: 1rem;
    height: 2rem;
}

.post-header {
    padding-right: 1.5rem;
}

.post-frame {
    position: relative;
    z-index: 0;
}

.post-frame>*{
    z-index: 1;
}

.post-controls-frame {
    flex-grow: 1;
    justify-content: end;
    height: 2rem;
    background-color: var(--clr-bg-lighter) !important;
    gap: 0.3rem;
}

.post-controls-frame:hover {
    filter: none !important;
}

.post-controls-frame button {
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 0.8rem;
}

.post-controls-frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease-in-out;
}

.post-controls-frame img:hover {
    filter: brightness(0.9);
}

.like-post {
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    width: 2.25rem;
    background-color: var(--clr-bg-lighter);
}

.like-post img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-right: 0.2rem;
}

.pop-up-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-popup-bg);
}

.pop-up-body {
    width: 20rem;
    background-color: var(--clr-bg-lighter);
    border-radius: 20px;
    padding: 1rem;
}

.pop-up-title {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}

#pop-up-title-text {
    flex-grow: 1;
}

.pop-up-title button {
    width: 2rem;
    height: 2rem;
}

.pop-up-title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pop-up-result-frame {
    padding: 0.3rem;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    transition: background-color 0.3s;
}

.pop-up-result-frame:hover{
    background-color: var(--clr-bg-lightest);
}

.pop-up-result-picture {
    width: 3rem;
    height: 3rem;
    overflow: none;
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
}

.pop-up-result-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.pop-up-result-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.2rem;
    position: relative;
}

.pop-up-result-username {
    padding-top: 0.25rem;
    font-size: 0.8rem;
    color: var(--clr-placeholder);
    position: relative;
}

.pop-up-result-frame button {
    margin-left: auto;
}

.comment-del-button-frame {
    justify-content: end;
    flex-grow: 1;
}

.comment-del-button-frame button {
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.comment-del-button-frame>button>img {
    width: 1rem;
    height: 1rem;
}

.comment-body {
    transition: background-color 0.3s;
    align-items: center;
    padding: 0.3rem;
    border-radius: 10px;
}

.comment-body:hover{
    background-color: var(--clr-bg);
}